<!doctype html>
<html class="no-js" lang="en">
{% include head.html %}
{% if site.dropcap %}{% if page.dropcap != false %}<style type="text/css">@media only screen and (min-width:43.75em){.notepad-post-content div>p:first-child:first-letter{float: left; font-size: 4.875rem; line-height: 3.750rem; padding-top: 0.375rem; padding-right: 0.375rem; font-family:serif}}</style>{% endif %}{% endif %}
<body class="post-template">
{% if page.imagefeature %}{% include headerpostcover.html %}{% else %}{% include headerpostsimple.html %}{% endif %}
    <article class="notepad-post-content post">
        <div>
            <div class="paddings">
                {{ content }}
            </div>
        </div>
    </article>
    <div class="cf"></div>
{% if site.share %}{% include share.html %}{% endif %}
{% include author.html %}
<div class="cf"></div>
{% if site.disqus_shortname and page.comments == true %}{% include disqus.html %}{% endif %}
{% include footer.html %}
{% include scripts.html %}
</body>
</html>